.color-widget {
  padding: 1em;
  border: 2px solid #dfdfe3;

  .color-square {
    height: 24px;
    width: 24px;
    display: inline-block;

    &.selected {
      border: 2px solid #3a69c7;
    }

    &:hover {
      cursor: pointer;
    }

    &.dark-green {
      background-color: #799A8E;
    }

    &.mint {
      background-color: #B2D6CC;
    }

    &.red {
      background-color: #E06769;
    }

    &.white {
      background-color: #FFFDF4;
    }

    &.teal {
      background-color: #257D92;
    }
  }
}
