.section-group:nth-child(even) {
    background-color: pink;
}
.section-group, .custom-page-sections {
    padding: 24px;
    display: flex;
    flex-direction: row;
}
.section-group-vertical {
    flex-direction: column;
}
.section-group-item {
    padding: 12px;
}
.caption {
    color: grey;
    font-size: 16px;
}
